DATABASE_URL=postgresql://postgres:postgres@localhost:5432/nolleo_pipeline
TOUR_API_KEY=
OPENAI_API_KEY=
KAKAO_REST_API_KEY=
KMA_API_KEY=
BUSAN_GOODPRICE_API_KEY=
BUSAN_GOODPRICE_API_URL=http://apis.data.go.kr/6260000/GoodPriceStoreService/getGoodPriceStore
BUSAN_GOODPRICE_MENU_API_URL=http://apis.data.go.kr/6260000/BsGoodpriceService/getBsGoodprice
BUSAN_FOOD_API_KEY=
BUSAN_FOOD_API_URL=http://apis.data.go.kr/6260000/FoodService/getFoodKr
BUSAN_ODCLOUD_API_KEY=
LOG_LEVEL=INFO
ENV=dev
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
OPENAI_LLM_MODEL=gpt-4o-mini
